name: Add new issues to project automatically

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issues to project automatically
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/osmosis-labs/projects/8
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
